<h1><strong >Notre collection Lunettes solaires </strong></h1>
            

          <div class="c1">
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c33.0.200.200a/p200x200/19113703_1565188640189191_9205265070061085052_n.jpg?_nc_cat=105&_nc_oc=AQnU86W-BXERQs9K8SfABPGAHs5vQcHhDukC0xjOuj0wW4k4sElqsaD36T3PyYsHABU&_nc_ht=scontent.ftun11-1.fna&oh=e499c06bf344fb079a2f17f32aaf8e97&oe=5DDEFE4D" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 1000 DT</p>
                <a href="v1.html" class="btn bg-secondary text-white">view more</a>
              </div>
            </div> 
            
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c50.0.200.200a/p200x200/16195826_1397585883616135_3839453656467552271_n.jpg?_nc_cat=103&_nc_oc=AQkk43GS-FKWEXl8E75ZrBIezUY6xgBAzm2tf_yd5aZXtc1wSHldHUjLZoiQeDPlEUs&_nc_ht=scontent.ftun11-1.fna&oh=8f6007822a564660a24e88bd1ffb1989&oe=5DDEB3AA" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 700 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c50.0.200.200a/p200x200/16265949_1397585936949463_5418750425718901634_n.jpg?_nc_cat=111&_nc_oc=AQmrHbnccOchlwnOV7W25wIQonEyAzlo6-l3FGNUvjTWEiP32PdQh229e8IeYPl1vv4&_nc_ht=scontent.ftun11-1.fna&oh=d3fb0fa20f2e198cc00ecf3fb89c702d&oe=5DC757C4" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 800 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
          </div>

          <div class="c1">
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-9/14192589_1203591696348889_991509716753946080_n.jpg?_nc_cat=106&_nc_oc=AQlKQ1A8D-xQbOa6LvqUOhBZAj-LKz8u4UWywfweGsdJRbV7nVMXKsGr2Y_PDSqDSG4&_nc_ht=scontent.ftun11-1.fna&oh=47aced01b1558dda1f32aff950e0f8d0&oe=5DDA7B37" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 900 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c25.0.200.200a/p200x200/13754489_1166562736718452_8635118193330694451_n.jpg?_nc_cat=100&_nc_oc=AQmaPdYw-OY0BwhkKC3wu8DVnjJ9xztGCFvmNc2pHxjW8QHDZGF__Uli8S7pKxuQHy0&_nc_ht=scontent.ftun11-1.fna&oh=440a231ddd82ab057e511ed474b14ab0&oe=5DDC2768" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> <p class="card-text" style="color: red"><strong>Prix:</strong> 800 DT</p> -->
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/p200x200/14203213_1203594063015319_5605312333860279714_n.jpg?_nc_cat=102&_nc_oc=AQlVve35Ig2pEzY74yVAsb3kgxo_mdnUaDH-pfC6wu-DKYHO96vsoLmh68qpgMEDePE&_nc_ht=scontent.ftun11-1.fna&oh=2f0fba0f80603f29887c124d6b538d5d&oe=5DC8A46A" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 700 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
          </div>

          <div class="c1">
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c1.0.200.200a/p200x200/15178097_1292673890774002_5810775373961693020_n.jpg?_nc_cat=107&_nc_oc=AQlIDs7209vymLn670XV2w454QQ_9_AcsfTznkey8t3YrbB0RCs5gd2w2vR-iNH2buo&_nc_ht=scontent.ftun11-1.fna&oh=e03d93e25e0635947d9c6e31fdb70837&oe=5E0BF864" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 1000 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/p200x200/14650573_1261853993855992_5331245675363761762_n.jpg?_nc_cat=104&_nc_oc=AQlexZqCHRToipLP_5aRQt_wnJ_MPlXTQQw7AOpxKyEqFjXeHNKppJpH0ZlkHroDRAg&_nc_ht=scontent.ftun11-1.fna&oh=a5a55e527858d3c333e59f097f20ab19&oe=5DDBBD30" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 900 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c0.3.200.200a/p200x200/17883706_1491051447602911_8512578518147177387_n.jpg?_nc_cat=111&_nc_oc=AQnXflG_b7CCyHcxe9xUCMfgPdkt1utnFrBBS-VH11QxrwefaUyQQ0q2JYmFvtAPI44&_nc_ht=scontent.ftun11-1.fna&oh=ecc43ece5db33ffe05bc82e23c5ff94f&oe=5DCAC47D" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 850 DT</p>
                <p class="card-text" style="color: red"><strong>Prix:</strong></p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
          </div>

          <div class="c1">
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c0.35.200.200a/p200x200/18402889_1528328277208561_7412595288754677528_n.jpg?_nc_cat=100&_nc_oc=AQkv-ltVNIo-YiEwv1bnsRX5iXx_xZ27rN8ONTHSf_gdaUaUeVI9KyDkx-4lZ9AJxRk&_nc_ht=scontent.ftun11-1.fna&oh=8ae603a176364907514ab160aff3d289&oe=5E122D24" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 700 DT</p>
                <p class="card-text" style="color: red"><strong>Prix:</strong></p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/p200x200/18402785_1529698060404916_8047039701867366942_n.jpg?_nc_cat=107&_nc_oc=AQk5BlfJIwLr5TdQPKkzcGQwcMvTUc7XPkAOPtVMBoDawPKdDapTmPcYzbQHmtZZLFQ&_nc_ht=scontent.ftun11-1.fna&oh=389035c6787358feeef7909ac7e722a0&oe=5DCE9CAE" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 800 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c33.0.200.200a/p200x200/19113703_1565188640189191_9205265070061085052_n.jpg?_nc_cat=105&_nc_oc=AQnU86W-BXERQs9K8SfABPGAHs5vQcHhDukC0xjOuj0wW4k4sElqsaD36T3PyYsHABU&_nc_ht=scontent.ftun11-1.fna&oh=e499c06bf344fb079a2f17f32aaf8e97&oe=5DDEFE4D" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 850 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
          </div>

          <div class="c1">
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c33.0.200.200a/p200x200/19113703_1565188640189191_9205265070061085052_n.jpg?_nc_cat=105&_nc_oc=AQnU86W-BXERQs9K8SfABPGAHs5vQcHhDukC0xjOuj0wW4k4sElqsaD36T3PyYsHABU&_nc_ht=scontent.ftun11-1.fna&oh=e499c06bf344fb079a2f17f32aaf8e97&oe=5DDEFE4D" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 1000 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/p200x200/64620894_2817402378301138_2070265418827694080_n.jpg?_nc_cat=102&_nc_oc=AQntlvFnclmxmOWqDyKv3yoyvebiiguMr-i_EbaliWmPXRmCjIBc5lQ6Pm-8so6_x3s&_nc_ht=scontent.ftun11-1.fna&oh=f1d6f4ce579dd61ed8f20c56f82ad097&oe=5DD38AF7" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 700 DT</p>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c0.9.200.200a/p200x200/64571299_2807014056006637_8226734586739032064_n.jpg?_nc_cat=105&_nc_oc=AQmgtptGgKiFE_xbgqai5hNd-9yjLmV405C6pL1cL_i_56Q2tnyVbpk4574sp5HSMMI&_nc_ht=scontent.ftun11-1.fna&oh=9db709de05261379fdb6aef97acd8102&oe=5E111419" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 800 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
          </div>


          <div class="c1">
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c28.0.200.200a/p200x200/65203187_2831007493607293_197981220498309120_n.jpg?_nc_cat=111&_nc_oc=AQmP5h9Dz4ysg_TGDlj1seebOnr_W2AAnixfcr8gg5Q83IpNHTxzpWiUprpgYFtph3U&_nc_ht=scontent.ftun11-1.fna&oh=49c3216ca4e10e86a90996a09caffa48&oe=5DDD8976" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 890 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c23.0.200.200a/p200x200/65011463_2831017230272986_9007092125371727872_n.jpg?_nc_cat=102&_nc_oc=AQkUIUpV1CKUpJuDIQcTdI_E5XinDBQ_nth34JIsZT72q2zVeZ9PaTvh3ISBIoSfNHA&_nc_ht=scontent.ftun11-1.fna&oh=74cf421e40086fa5fa172b06094bfe42&oe=5DE10EBD" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 790 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c18.0.200.200a/p200x200/64927001_2831019030272806_2794523207036567552_n.jpg?_nc_cat=103&_nc_oc=AQlmMLpW0njRwqzmelgqKSCvsi1CLiMlqzZPOPUIE9FLVqPbbJgI3NUfgxM80_z5Fvw&_nc_ht=scontent.ftun11-1.fna&oh=c68ff8bb78c25178d21636b04a519e36&oe=5DE10F72" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 700 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
          </div>

          <div class="c1">
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c78.0.200.200a/p200x200/18486312_1536007749773947_3760279549096322206_n.jpg?_nc_cat=103&_nc_oc=AQl9GCGXonC_GHmG107VJ30wG0p8QXyXcqIf4s1u7tzRPcyRfj834-svI405Ze1e6WA&_nc_ht=scontent.ftun11-1.fna&oh=c22e085d403ebb47522cbdc31897d4f8&oe=5DDAF0CE" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 789DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c22.0.200.200a/p200x200/64873518_2831030096938366_1279345095325253632_n.jpg?_nc_cat=101&_nc_oc=AQlfArs9gN18Uv45Dx7TCgn3tVh92a9QUJ2jW234XK3CxHi9ZZiM00586ckK8dL0Nxg&_nc_ht=scontent.ftun11-1.fna&oh=cd23499737688d29c65b19082ee4c387&oe=5DD3A6CC" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 760 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c22.0.200.200a/p200x200/64873518_2831030096938366_1279345095325253632_n.jpg?_nc_cat=101&_nc_oc=AQlfArs9gN18Uv45Dx7TCgn3tVh92a9QUJ2jW234XK3CxHi9ZZiM00586ckK8dL0Nxg&_nc_ht=scontent.ftun11-1.fna&oh=cd23499737688d29c65b19082ee4c387&oe=5DD3A6CC" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 800 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
          </div>

          <div class="c1">
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c0.15.200.200a/p200x200/65272506_2831051096936266_2896850424906645504_n.jpg?_nc_cat=100&_nc_oc=AQn3oRXyX8nQIKjZp9lO4nykTJeh6zQC6wO1pb3Eq4h53QpfxncA_yydEGJlhOmtlVI&_nc_ht=scontent.ftun11-1.fna&oh=81b77d43eb0029d7fae5005c72c0a639&oe=5DD2C726" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 900 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c15.0.200.200a/p200x200/65494970_2841070672600975_5439771071899238400_n.jpg?_nc_cat=101&_nc_oc=AQnn66G3OtdQStq4XS9IsOqfs-Na_FSKNCnw3hD2Z7OMFcGox-hdxIbi56dMIU5F_yI&_nc_ht=scontent.ftun11-1.fna&oh=2fcf95c6a6050fec326c0ed1e71d067b&oe=5E0938A9" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 700 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c0.7.200.200a/p200x200/65227158_2831040430270666_3129672158117101568_n.jpg?_nc_cat=108&_nc_oc=AQkH3dMnr4j5_ZsODOQh2wpZ2TTkofp6P0gz9KYexhLea6ZJQqILo6bZau8mwXuqhOQ&_nc_ht=scontent.ftun11-1.fna&oh=d3d6067c4806a4ce4eb5d020bd179c6d&oe=5DCC85C5" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 900 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
          </div>

           <div class="c1">
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c23.0.200.200a/p200x200/66422506_2878520218856020_5569488739324919808_n.jpg?_nc_cat=101&_nc_oc=AQlleeBxqwafHcJ-OmZewXsvbNRmP37w1dCx_4_NtJEwKEeO6tcKSWs0QfFSO0B6zdU&_nc_ht=scontent.ftun11-1.fna&oh=85aa0703949bb24ac9f7372c5971e70c&oe=5DCF618C" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 760 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/c12.0.200.200a/p200x200/66626635_2878527385521970_8218025316480712704_n.jpg?_nc_cat=107&_nc_oc=AQk71KGdVn7EC4pHdKRxRiPy1IdhvVIkmc5oExyDhTGQq4DP_uKH9h5f7L-qr7CG8i0&_nc_ht=scontent.ftun11-1.fna&oh=fe94eef1471de56f942587854e9b9d1b&oe=5E15FEEF" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 800 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="https://scontent.ftun11-1.fna.fbcdn.net/v/t1.0-0/p200x200/66213099_2878530052188370_7706899336101101568_n.jpg?_nc_cat=103&_nc_oc=AQkhtKLtFECzsB6cmr130fcVlx_YBN0EQfAf2MhbmT1Hge-huAXbLPVYXYbSun0OANc&_nc_ht=scontent.ftun11-1.fna&oh=dc2d382e0424fe037883c486efde0448&oe=5E0A1F17" class="card-img-top" alt="...">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">description de l'article </p> -->
                <p class="card-text" style="color: red"><strong>Prix:</strong> 700 DT</p>
                <!-- <a href="#" class="btn bg-secondary text-white">view more</a> -->
              </div>
            </div>
          </div>
         




<div class="card" style="width: 18rem; background-color: lightcyan">
  <ul class="list-group list-group-flush" >
    <li class="list-group-item"><h2>Prix:</h2> <p>varie entre 700-1000DT</p></li>
    <li class="list-group-item"><h2>matiéres:</h2>
    <br>  <a href="#" style="color: pink">Metal</a>
     <br> <a href="#" style="color: pink">Bois</a>
     <br> <a href="#" style="color: pink">Plastique</a>
</li>
    <li class="list-group-item"><h2>Décoration:</h2>
     <br> <a href="#" style="color: pink">Or</a>
     <br> <a href="#" style="color: pink">Argent</a>
      </li>
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h2>Formes:</h2>
      <br>
      <a href="papillons.html" style="color: pink">Papillons</a>
      <br>
      <a href="rond.html" style="color: pink">rondes</a>
      <br>
      <!-- <a href="#" style="color: pink">rectangulaires</a>
      <br> -->
      <a href="carrés.html" style="color: pink">Carrés</a>
          </li>
    
  </ul>
 
</div>

<!-- <center><a href="lunettes solaires.html" style="color: black"><strong>up</strong></a></center> -->

<center><a href="lunettes solaires.html"><strong>...</strong></a></center>